<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryInitializers>
    <Add Type="Microsoft.ApplicationInsights.Web.AzureAppServiceRoleNameFromHostNameHeaderInitializer, Microsoft.AI.Web"/>
  </TelemetryInitializers>
  
  <InstrumentationKey>6389768f-44b3-4e98-9c55-2c8fc8fc5c5b</InstrumentationKey>
</ApplicationInsights>