@using NatureQuestWebsite.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<StandardPageViewModel>

@section headerCss{
}

@{
    Layout = "siteMaster.cshtml";
    var currentModel = Model;

    @Html.Partial("/Views/Partials/PageContent/PageHeader.cshtml", Model)

    <div class="container padding-bottom-3x mb-2">
        <div class="row">

            @Html.Partial("/Views/Partials/PageContent/ContactPageDetails.cshtml", Model)

        </div>
    </div>
}

@section footerScripts{
    @if (!string.IsNullOrWhiteSpace(Model.GoogleMapsApiKey))
    {
        <script src="https://maps.googleapis.com/maps/api/js?key=@Model.GoogleMapsApiKey" type="text/javascript"></script>
    }

}

